.box {
    margin-top: 30vh;
    width: 60vw;
    font-size: xx-large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: linear 500ms;
}
.box-transition {
    margin-top: 5vh;
    width: 40vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: linear 500ms;
}
h3 {
    text-align: center;
}