.glowing-text-green {
    height: 10px;
    width: 10px;
    margin:auto;
    margin-top: 10px; /*vertical centering*/
    border-radius: 50%;
    border-color: #59c22f;
    border-style: solid;
    border-width: .25px;
    background-color: #3caa11;
    box-shadow: 0 0 10px #3caa11,0 0 20px #3caa11;
  }

.cell-container { /*vertical centering*/
  display: table-cell;
  vertical-align: center !important;
  width: 1%;
  white-space: nowrap;
}
  .glowing-text-red {
    height: 10px;
    width: 10px;
    margin:auto;
    margin-top: 10px; /*vertical centering*/
    border-radius: 50%;
    border-style: solid;
    border-color: rgba(202, 33, 33, 0.842);
    border-width: 0.5px;
    background-color: #ca1010;
    -webkit-animation: glow-red 1s ease-in-out infinite alternate;
    -moz-animation: glow-red 1s ease-in-out infinite alternate;
    animation: glow-red 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow-red {
    from {
      box-shadow: 0 0 5px #fb0d0d, 0 0 20px #fb0d0d,0 0 40px #fb0d0d,0 0 55px #fb0d0d;
      }
   to {
    box-shadow: 0 0 20px #fb0d0d, 0 0 30px #fb0d0d,0 0 50px #fb0d0d,0 0 65px #fb0d0d;
   }

  }