.style-card {
    max-width: 15vw;
    min-width: 15em;
    max-height: 50vh;
    border-radius: 20px;
    text-align: center;
    box-shadow: inset 5 5 5
}
.style-title {
  color: white;
  padding: 5 5 5 5;
  text-align: center;
  font-size: xx-large;
} 
.style-online {
    background-color: rgb(40, 167, 69);
}
.style-offline {
    background-color: rgb(220, 53, 69);
}
.style-loading {
    background-color: rgb(163, 163, 163);
}

.style-body {
    text-align: center;
}
.style-body i {
    font-size: larger;
    font-weight: bolder;
}